<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yufu.fs.dao.TClearMerstlBookMapper" >
  <resultMap id="BaseResultMap" type="cn.yufu.fs.entity.TClearMerstlBook" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="GEN_DT" property="genDt" jdbcType="VARCHAR" />
    <result column="MER_NO" property="merNo" jdbcType="VARCHAR" />
    <result column="MER_NAME" property="merName" jdbcType="VARCHAR" />
    <result column="FMRCH_NO" property="fmrchNo" jdbcType="VARCHAR" />
    <result column="FMR_NAME" property="fmrName" jdbcType="VARCHAR" />
    <result column="STL_DATE" property="stlDate" jdbcType="VARCHAR" />
    <result column="START_STL_DATE" property="startStlDate" jdbcType="VARCHAR" />
    <result column="END_STL_DATE" property="endStlDate" jdbcType="VARCHAR" />
    <result column="SCENE" property="scene" jdbcType="VARCHAR" />
    <result column="TRAN_NUM" property="consumNum" jdbcType="DECIMAL" />
    <result column="CONSUM_AMT" property="consumAmt" jdbcType="DECIMAL" />
    <result column="TRAN_AMT" property="tranAmt" jdbcType="DECIMAL" />
    <result column="NET_AMT" property="netAmt" jdbcType="DECIMAL" />
    <result column="FEE" property="fee" jdbcType="DECIMAL" />
    <result column="FEE_ORDER" property="feeOrder" jdbcType="DECIMAL" />
    <result column="FEESTL_TYPE" property="feestlType" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="STLACC_ID" property="stlaccId" jdbcType="DECIMAL" />
    <result column="ACC_NO" property="accNo" jdbcType="VARCHAR" />
    <result column="ACC_NAME" property="accName" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="BRANCH_NAME" property="branchName" jdbcType="VARCHAR" />
    <result column="UNION_NO" property="unionNo" jdbcType="VARCHAR" />
    <result column="BEIJING_FLAG" property="beijingFlag" jdbcType="VARCHAR" />
    <result column="IS_CONSUMP_CATEGORY" property="isConsumpCategory" jdbcType="VARCHAR" />
    <result column="AMT_CONSUMP_CATEGORY" property="amtConsumpCategory" jdbcType="VARCHAR" />
    <result column="GROUP_FLAG" property="groupFlag" jdbcType="VARCHAR" />
    <result column="FINAL_STL_ID" property="finalStlId" jdbcType="VARCHAR" />
    <result column="FINAL_STL_FLAG" property="finalStlFlag" jdbcType="VARCHAR" />
    <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="DECIMAL" />
    <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
    <result column="BJ_FLAG" property="bjFlag" jdbcType="VARCHAR" />
    <result column="CARD_TYPE" property="cardType" jdbcType="VARCHAR" />
    <result column="CARD_TYPE_NAME" property="cardTypeName" jdbcType="VARCHAR" />
    <result column="EXELUSIVE_CARD_FLAG" property="exelusiveCardFlag" jdbcType="VARCHAR" />
    <result column="STL_NEED_FLAG" property="stlNeedFlag" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="DECIMAL" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="MRCH_SNIPPET" property="mrchSnippet" jdbcType="VARCHAR" />
    <result column="MERGE_MONEY_FLAG" property="mergeMoneyFlag" jdbcType="CHAR" />
    <result column="RESERVED_FIELD" property="reservedField" jdbcType="VARCHAR" />
    <result column="RESERVED_FIELD_1" property="reservedField1" jdbcType="VARCHAR" />
    <result column="RESERVED_FIELD_2" property="reservedField2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, GEN_DT, MER_NO, MER_NAME, FMRCH_NO, FMR_NAME, STL_DATE, START_STL_DATE, END_STL_DATE, 
    SCENE, CONSUM_NUM, CONSUM_AMT, TRAN_AMT, NET_AMT, FEE, FEE_ORDER, FEESTL_TYPE, STATUS, 
    STLACC_ID, ACC_NO, ACC_NAME, BANK_NAME, BANK_CODE, BRANCH_NAME, UNION_NO, BEIJING_FLAG, 
    IS_CONSUMP_CATEGORY, AMT_CONSUMP_CATEGORY, GROUP_FLAG, FINAL_STL_ID, FINAL_STL_FLAG, 
    COMMENTS, PROVINCE_CODE, PROVINCE_NAME, BJ_FLAG, CARD_TYPE, CARD_TYPE_NAME, EXELUSIVE_CARD_FLAG, 
    STL_NEED_FLAG, CITY_CODE, CITY_NAME, MRCH_SNIPPET, MERGE_MONEY_FLAG, RESERVED_FIELD, 
    RESERVED_FIELD_1, RESERVED_FIELD_2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.yufu.fs.entity.TClearMerstlBookExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CLEAR_MERSTL_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_CLEAR_MERSTL_BOOK
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_CLEAR_MERSTL_BOOK
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.yufu.fs.entity.TClearMerstlBookExample" >
    delete from T_CLEAR_MERSTL_BOOK
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.yufu.fs.entity.TClearMerstlBook" >
    insert into T_CLEAR_MERSTL_BOOK (ID, GEN_DT, MER_NO, 
      MER_NAME, FMRCH_NO, FMR_NAME, 
      STL_DATE, START_STL_DATE, END_STL_DATE, 
      SCENE, CONSUM_NUM, CONSUM_AMT, 
      TRAN_AMT, NET_AMT, FEE, 
      FEE_ORDER, FEESTL_TYPE, STATUS, 
      STLACC_ID, ACC_NO, ACC_NAME, 
      BANK_NAME, BANK_CODE, BRANCH_NAME, 
      UNION_NO, BEIJING_FLAG, IS_CONSUMP_CATEGORY, 
      AMT_CONSUMP_CATEGORY, GROUP_FLAG, FINAL_STL_ID, 
      FINAL_STL_FLAG, COMMENTS, PROVINCE_CODE, 
      PROVINCE_NAME, BJ_FLAG, CARD_TYPE, 
      CARD_TYPE_NAME, EXELUSIVE_CARD_FLAG, STL_NEED_FLAG, 
      CITY_CODE, CITY_NAME, MRCH_SNIPPET, 
      MERGE_MONEY_FLAG, RESERVED_FIELD, RESERVED_FIELD_1, 
      RESERVED_FIELD_2)
    values (#{id,jdbcType=VARCHAR}, #{genDt,jdbcType=VARCHAR}, #{merNo,jdbcType=VARCHAR}, 
      #{merName,jdbcType=VARCHAR}, #{fmrchNo,jdbcType=VARCHAR}, #{fmrName,jdbcType=VARCHAR}, 
      #{stlDate,jdbcType=VARCHAR}, #{startStlDate,jdbcType=VARCHAR}, #{endStlDate,jdbcType=VARCHAR}, 
      #{scene,jdbcType=VARCHAR}, #{consumNum,jdbcType=DECIMAL}, #{consumAmt,jdbcType=DECIMAL}, 
      #{tranAmt,jdbcType=DECIMAL}, #{netAmt,jdbcType=DECIMAL}, #{fee,jdbcType=DECIMAL}, 
      #{feeOrder,jdbcType=DECIMAL}, #{feestlType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{stlaccId,jdbcType=DECIMAL}, #{accNo,jdbcType=VARCHAR}, #{accName,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, #{branchName,jdbcType=VARCHAR}, 
      #{unionNo,jdbcType=VARCHAR}, #{beijingFlag,jdbcType=VARCHAR}, #{isConsumpCategory,jdbcType=VARCHAR}, 
      #{amtConsumpCategory,jdbcType=VARCHAR}, #{groupFlag,jdbcType=VARCHAR}, #{finalStlId,jdbcType=VARCHAR}, 
      #{finalStlFlag,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{provinceCode,jdbcType=DECIMAL}, 
      #{provinceName,jdbcType=VARCHAR}, #{bjFlag,jdbcType=VARCHAR}, #{cardType,jdbcType=VARCHAR}, 
      #{cardTypeName,jdbcType=VARCHAR}, #{exelusiveCardFlag,jdbcType=VARCHAR}, #{stlNeedFlag,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=DECIMAL}, #{cityName,jdbcType=VARCHAR}, #{mrchSnippet,jdbcType=VARCHAR}, 
      #{mergeMoneyFlag,jdbcType=CHAR}, #{reservedField,jdbcType=VARCHAR}, #{reservedField1,jdbcType=VARCHAR}, 
      #{reservedField2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.yufu.fs.entity.TClearMerstlBook" >
    insert into T_CLEAR_MERSTL_BOOK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="genDt != null" >
        GEN_DT,
      </if>
      <if test="merNo != null" >
        MER_NO,
      </if>
      <if test="merName != null" >
        MER_NAME,
      </if>
      <if test="fmrchNo != null" >
        FMRCH_NO,
      </if>
      <if test="fmrName != null" >
        FMR_NAME,
      </if>
      <if test="stlDate != null" >
        STL_DATE,
      </if>
      <if test="startStlDate != null" >
        START_STL_DATE,
      </if>
      <if test="endStlDate != null" >
        END_STL_DATE,
      </if>
      <if test="scene != null" >
        SCENE,
      </if>
      <if test="consumNum != null" >
        CONSUM_NUM,
      </if>
      <if test="consumAmt != null" >
        CONSUM_AMT,
      </if>
      <if test="tranAmt != null" >
        TRAN_AMT,
      </if>
      <if test="netAmt != null" >
        NET_AMT,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="feeOrder != null" >
        FEE_ORDER,
      </if>
      <if test="feestlType != null" >
        FEESTL_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="stlaccId != null" >
        STLACC_ID,
      </if>
      <if test="accNo != null" >
        ACC_NO,
      </if>
      <if test="accName != null" >
        ACC_NAME,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="bankCode != null" >
        BANK_CODE,
      </if>
      <if test="branchName != null" >
        BRANCH_NAME,
      </if>
      <if test="unionNo != null" >
        UNION_NO,
      </if>
      <if test="beijingFlag != null" >
        BEIJING_FLAG,
      </if>
      <if test="isConsumpCategory != null" >
        IS_CONSUMP_CATEGORY,
      </if>
      <if test="amtConsumpCategory != null" >
        AMT_CONSUMP_CATEGORY,
      </if>
      <if test="groupFlag != null" >
        GROUP_FLAG,
      </if>
      <if test="finalStlId != null" >
        FINAL_STL_ID,
      </if>
      <if test="finalStlFlag != null" >
        FINAL_STL_FLAG,
      </if>
      <if test="comments != null" >
        COMMENTS,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="provinceName != null" >
        PROVINCE_NAME,
      </if>
      <if test="bjFlag != null" >
        BJ_FLAG,
      </if>
      <if test="cardType != null" >
        CARD_TYPE,
      </if>
      <if test="cardTypeName != null" >
        CARD_TYPE_NAME,
      </if>
      <if test="exelusiveCardFlag != null" >
        EXELUSIVE_CARD_FLAG,
      </if>
      <if test="stlNeedFlag != null" >
        STL_NEED_FLAG,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="mrchSnippet != null" >
        MRCH_SNIPPET,
      </if>
      <if test="mergeMoneyFlag != null" >
        MERGE_MONEY_FLAG,
      </if>
      <if test="reservedField != null" >
        RESERVED_FIELD,
      </if>
      <if test="reservedField1 != null" >
        RESERVED_FIELD_1,
      </if>
      <if test="reservedField2 != null" >
        RESERVED_FIELD_2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="genDt != null" >
        #{genDt,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null" >
        #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="merName != null" >
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="fmrchNo != null" >
        #{fmrchNo,jdbcType=VARCHAR},
      </if>
      <if test="fmrName != null" >
        #{fmrName,jdbcType=VARCHAR},
      </if>
      <if test="stlDate != null" >
        #{stlDate,jdbcType=VARCHAR},
      </if>
      <if test="startStlDate != null" >
        #{startStlDate,jdbcType=VARCHAR},
      </if>
      <if test="endStlDate != null" >
        #{endStlDate,jdbcType=VARCHAR},
      </if>
      <if test="scene != null" >
        #{scene,jdbcType=VARCHAR},
      </if>
      <if test="consumNum != null" >
        #{consumNum,jdbcType=DECIMAL},
      </if>
      <if test="consumAmt != null" >
        #{consumAmt,jdbcType=DECIMAL},
      </if>
      <if test="tranAmt != null" >
        #{tranAmt,jdbcType=DECIMAL},
      </if>
      <if test="netAmt != null" >
        #{netAmt,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeOrder != null" >
        #{feeOrder,jdbcType=DECIMAL},
      </if>
      <if test="feestlType != null" >
        #{feestlType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="stlaccId != null" >
        #{stlaccId,jdbcType=DECIMAL},
      </if>
      <if test="accNo != null" >
        #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        #{accName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="unionNo != null" >
        #{unionNo,jdbcType=VARCHAR},
      </if>
      <if test="beijingFlag != null" >
        #{beijingFlag,jdbcType=VARCHAR},
      </if>
      <if test="isConsumpCategory != null" >
        #{isConsumpCategory,jdbcType=VARCHAR},
      </if>
      <if test="amtConsumpCategory != null" >
        #{amtConsumpCategory,jdbcType=VARCHAR},
      </if>
      <if test="groupFlag != null" >
        #{groupFlag,jdbcType=VARCHAR},
      </if>
      <if test="finalStlId != null" >
        #{finalStlId,jdbcType=VARCHAR},
      </if>
      <if test="finalStlFlag != null" >
        #{finalStlFlag,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=DECIMAL},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="bjFlag != null" >
        #{bjFlag,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardTypeName != null" >
        #{cardTypeName,jdbcType=VARCHAR},
      </if>
      <if test="exelusiveCardFlag != null" >
        #{exelusiveCardFlag,jdbcType=VARCHAR},
      </if>
      <if test="stlNeedFlag != null" >
        #{stlNeedFlag,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=DECIMAL},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="mrchSnippet != null" >
        #{mrchSnippet,jdbcType=VARCHAR},
      </if>
      <if test="mergeMoneyFlag != null" >
        #{mergeMoneyFlag,jdbcType=CHAR},
      </if>
      <if test="reservedField != null" >
        #{reservedField,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null" >
        #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null" >
        #{reservedField2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <sql id="Page_Sum_Column_List" >
    MER_NO,SUM(TRAN_NUM) AS TRAN_NUM, 
    SUM(TRAN_AMT) AS TRAN_AMT,PROVINCE_NAME, CITY_NAME
  </sql>
  
  <select id="countByExample" parameterType="Map" resultType="java.lang.Integer" >
		SELECT COUNT(*) FROM (SELECT
		<include refid="Page_Sum_Column_List" />
		from (SELECT
			 a.MER_NO,a.TRAN_NUM, 
          	 a.TRAN_AMT,b.PROVINCE_NAME, b.CITY_NAME
          	 FROM T_CLEAR_MERCLEAR_BOOK  a 
          	 LEFT JOIN VIEW_FKCORE_MER_BASE b ON a.mer_no = b.MRCHNO
			 WHERE 1=1
			 <if test="queryModel.startStlDate != null and queryModel.startStlDate.trim().length() != 0" >
      		 	AND  <![CDATA[ a.TRAN_DATE >= #{queryModel.startStlDate} ]]> 
    		 </if>
    		 <if test="queryModel.endStlDate != null and queryModel.endStlDate.trim().length() != 0" >
      		 	AND  <![CDATA[ a.TRAN_DATE <= #{queryModel.endStlDate} ]]>
    		 </if>
			 <if test="queryModel.merName != null and queryModel.merName.trim().length() != 0" >
      		 	AND a.MER_NAME LIKE '%'||#{queryModel.merName}||'%'
    		 </if>
		) WHERE 1=1 
		<if test="queryModel.merNo != null and queryModel.merNo.trim().length() != 0" >
      		AND MER_NO = #{queryModel.merNo}
    	</if>
    	<if test="queryModel.provinceName != null and queryModel.provinceName.trim().length() != 0" >
      		AND PROVINCE_NAME = #{queryModel.provinceName}
    	</if>
    	<if test="queryModel.cityName != null and queryModel.cityName.trim().length() != 0" >
      		AND CITY_NAME = #{queryModel.cityName}
    	</if>
		GROUP BY mer_no, province_name, city_name
		HAVING 1=1 
		<if test="queryModel.consumNum != null" >
      		AND  <![CDATA[ SUM(TRAN_NUM) >= #{queryModel.consumNum} ]]>
    	</if>
    	<if test="queryModel.tranAmt != null" >
      		AND  <![CDATA[ SUM(TRAN_AMT) >= #{queryModel.tranAmt} ]]>
    	</if>)
  </select>
  
  <select id="selectPageByExample" parameterType="Map" resultMap="BaseResultMap">
		SELECT * FROM (
		SELECT t.*, ROWNUM rn FROM(
		SELECT * FROM (SELECT
		<include refid="Page_Sum_Column_List" />
		from (SELECT
			 a.MER_NO,a.TRAN_NUM, 
          	 a.TRAN_AMT,b.PROVINCE_NAME, b.CITY_NAME
          	 FROM T_CLEAR_MERCLEAR_BOOK  a 
          	 LEFT JOIN VIEW_FKCORE_MER_BASE b ON a.mer_no = b.MRCHNO
			 WHERE 1=1
			 <if test="queryModel.startStlDate != null and queryModel.startStlDate.trim().length() != 0" >
      		 	AND  <![CDATA[ a.TRAN_DATE >= #{queryModel.startStlDate} ]]> 
    		 </if>
    		 <if test="queryModel.endStlDate != null and queryModel.endStlDate.trim().length() != 0" >
      		 	AND  <![CDATA[ a.TRAN_DATE <= #{queryModel.endStlDate} ]]>
    		 </if>
			 <if test="queryModel.merName != null and queryModel.merName.trim().length() != 0" >
      		 	AND a.MER_NAME LIKE '%'||#{queryModel.merName}||'%'
    		 </if>
		) WHERE 1=1 
		<if test="queryModel.merNo != null and queryModel.merNo.trim().length() != 0" >
      		AND MER_NO = #{queryModel.merNo}
    	</if>
    	<if test="queryModel.cityName != null and queryModel.cityName.trim().length() != 0" >
      		AND CITY_NAME = #{queryModel.cityName}
    	</if>
    	<if test="queryModel.provinceName != null and queryModel.provinceName.trim().length() != 0" >
      		AND PROVINCE_NAME = #{queryModel.provinceName}
    	</if>
		GROUP BY mer_no, province_name, city_name
		HAVING 1=1 
		<if test="queryModel.consumNum != null" >
      		AND  <![CDATA[ SUM(TRAN_NUM) >= #{queryModel.consumNum} ]]>
    	</if>
    	<if test="queryModel.tranAmt != null" >
      		AND  <![CDATA[ SUM(TRAN_AMT) >= #{queryModel.tranAmt} ]]>
    	</if> ) 
		ORDER BY TRAN_AMT DESC, MER_NO DESC,province_name DESC,city_name DESC
		) t  WHERE <![CDATA[ ROWNUM <= #{endResult} ]]> )
		WHERE rn &gt; #{startResult}
  </select> 
  
    <select id="queryAllList" parameterType="Map" resultMap="BaseResultMap">
		SELECT * FROM (SELECT
		<include refid="Page_Sum_Column_List" />
		from (SELECT
			 a.MER_NO,a.TRAN_NUM, 
          	 a.TRAN_AMT,b.PROVINCE_NAME, b.CITY_NAME
          	 FROM T_CLEAR_MERCLEAR_BOOK  a 
          	 LEFT JOIN VIEW_FKCORE_MER_BASE b ON a.mer_no = b.MRCHNO
			 WHERE 1=1
			 <if test="queryModel.startStlDate != null and queryModel.startStlDate.trim().length() != 0" >
      		 	AND  <![CDATA[ a.TRAN_DATE >= #{queryModel.startStlDate} ]]> 
    		 </if>
    		 <if test="queryModel.endStlDate != null and queryModel.endStlDate.trim().length() != 0" >
      		 	AND  <![CDATA[ a.TRAN_DATE <= #{queryModel.endStlDate} ]]>
    		 </if>
			 <if test="queryModel.merName != null and queryModel.merName.trim().length() != 0" >
      		 	AND a.MER_NAME LIKE '%'||#{queryModel.merName}||'%'
    		 </if>
		) WHERE 1=1 
		<if test="queryModel.merNo != null and queryModel.merNo.trim().length() != 0" >
      		AND MER_NO = #{queryModel.merNo}
    	</if>
    	<if test="queryModel.cityName != null and queryModel.cityName.trim().length() != 0" >
      		AND CITY_NAME = #{queryModel.cityName}
    	</if>
    	<if test="queryModel.provinceName != null and queryModel.provinceName.trim().length() != 0" >
      		AND PROVINCE_NAME = #{queryModel.provinceName}
    	</if>
		GROUP BY mer_no, province_name, city_name
		HAVING 1=1 
		<if test="queryModel.consumNum != null" >
      		AND  <![CDATA[ SUM(TRAN_NUM) >= #{queryModel.consumNum} ]]>
    	</if>
    	<if test="queryModel.tranAmt != null" >
      		AND  <![CDATA[ SUM(TRAN_AMT) >= #{queryModel.tranAmt} ]]>
    	</if> ) 
		ORDER BY TRAN_AMT DESC, MER_NO DESC,province_name DESC,city_name DESC
  </select> 
  
  <select id="getMrchnoList" parameterType="cn.yufu.fs.entity.TClearMerstlBook" resultType="java.lang.String">
	 SELECT DISTINCT MER_NO AS merNo FROM T_CLEAR_MERSTL_BOOK  
	 WHERE <![CDATA[ STL_DATE >= #{startStlDate} ]]> 
	 AND  <![CDATA[ STL_DATE <= #{endStlDate} ]]> 
  </select> 
  
  <update id="updateByExampleSelective" parameterType="map" >
    update T_CLEAR_MERSTL_BOOK
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.genDt != null" >
        GEN_DT = #{record.genDt,jdbcType=VARCHAR},
      </if>
      <if test="record.merNo != null" >
        MER_NO = #{record.merNo,jdbcType=VARCHAR},
      </if>
      <if test="record.merName != null" >
        MER_NAME = #{record.merName,jdbcType=VARCHAR},
      </if>
      <if test="record.fmrchNo != null" >
        FMRCH_NO = #{record.fmrchNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fmrName != null" >
        FMR_NAME = #{record.fmrName,jdbcType=VARCHAR},
      </if>
      <if test="record.stlDate != null" >
        STL_DATE = #{record.stlDate,jdbcType=VARCHAR},
      </if>
      <if test="record.startStlDate != null" >
        START_STL_DATE = #{record.startStlDate,jdbcType=VARCHAR},
      </if>
      <if test="record.endStlDate != null" >
        END_STL_DATE = #{record.endStlDate,jdbcType=VARCHAR},
      </if>
      <if test="record.scene != null" >
        SCENE = #{record.scene,jdbcType=VARCHAR},
      </if>
      <if test="record.consumNum != null" >
        CONSUM_NUM = #{record.consumNum,jdbcType=DECIMAL},
      </if>
      <if test="record.consumAmt != null" >
        CONSUM_AMT = #{record.consumAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.tranAmt != null" >
        TRAN_AMT = #{record.tranAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.netAmt != null" >
        NET_AMT = #{record.netAmt,jdbcType=DECIMAL},
      </if>
      <if test="record.fee != null" >
        FEE = #{record.fee,jdbcType=DECIMAL},
      </if>
      <if test="record.feeOrder != null" >
        FEE_ORDER = #{record.feeOrder,jdbcType=DECIMAL},
      </if>
      <if test="record.feestlType != null" >
        FEESTL_TYPE = #{record.feestlType,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.stlaccId != null" >
        STLACC_ID = #{record.stlaccId,jdbcType=DECIMAL},
      </if>
      <if test="record.accNo != null" >
        ACC_NO = #{record.accNo,jdbcType=VARCHAR},
      </if>
      <if test="record.accName != null" >
        ACC_NAME = #{record.accName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null" >
        BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.bankCode != null" >
        BANK_CODE = #{record.bankCode,jdbcType=VARCHAR},
      </if>
      <if test="record.branchName != null" >
        BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      </if>
      <if test="record.unionNo != null" >
        UNION_NO = #{record.unionNo,jdbcType=VARCHAR},
      </if>
      <if test="record.beijingFlag != null" >
        BEIJING_FLAG = #{record.beijingFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.isConsumpCategory != null" >
        IS_CONSUMP_CATEGORY = #{record.isConsumpCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.amtConsumpCategory != null" >
        AMT_CONSUMP_CATEGORY = #{record.amtConsumpCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.groupFlag != null" >
        GROUP_FLAG = #{record.groupFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.finalStlId != null" >
        FINAL_STL_ID = #{record.finalStlId,jdbcType=VARCHAR},
      </if>
      <if test="record.finalStlFlag != null" >
        FINAL_STL_FLAG = #{record.finalStlFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.comments != null" >
        COMMENTS = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.provinceCode != null" >
        PROVINCE_CODE = #{record.provinceCode,jdbcType=DECIMAL},
      </if>
      <if test="record.provinceName != null" >
        PROVINCE_NAME = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.bjFlag != null" >
        BJ_FLAG = #{record.bjFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.cardType != null" >
        CARD_TYPE = #{record.cardType,jdbcType=VARCHAR},
      </if>
      <if test="record.cardTypeName != null" >
        CARD_TYPE_NAME = #{record.cardTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.exelusiveCardFlag != null" >
        EXELUSIVE_CARD_FLAG = #{record.exelusiveCardFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.stlNeedFlag != null" >
        STL_NEED_FLAG = #{record.stlNeedFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.cityCode != null" >
        CITY_CODE = #{record.cityCode,jdbcType=DECIMAL},
      </if>
      <if test="record.cityName != null" >
        CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.mrchSnippet != null" >
        MRCH_SNIPPET = #{record.mrchSnippet,jdbcType=VARCHAR},
      </if>
      <if test="record.mergeMoneyFlag != null" >
        MERGE_MONEY_FLAG = #{record.mergeMoneyFlag,jdbcType=CHAR},
      </if>
      <if test="record.reservedField != null" >
        RESERVED_FIELD = #{record.reservedField,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedField1 != null" >
        RESERVED_FIELD_1 = #{record.reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedField2 != null" >
        RESERVED_FIELD_2 = #{record.reservedField2,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_CLEAR_MERSTL_BOOK
    set ID = #{record.id,jdbcType=VARCHAR},
      GEN_DT = #{record.genDt,jdbcType=VARCHAR},
      MER_NO = #{record.merNo,jdbcType=VARCHAR},
      MER_NAME = #{record.merName,jdbcType=VARCHAR},
      FMRCH_NO = #{record.fmrchNo,jdbcType=VARCHAR},
      FMR_NAME = #{record.fmrName,jdbcType=VARCHAR},
      STL_DATE = #{record.stlDate,jdbcType=VARCHAR},
      START_STL_DATE = #{record.startStlDate,jdbcType=VARCHAR},
      END_STL_DATE = #{record.endStlDate,jdbcType=VARCHAR},
      SCENE = #{record.scene,jdbcType=VARCHAR},
      CONSUM_NUM = #{record.consumNum,jdbcType=DECIMAL},
      CONSUM_AMT = #{record.consumAmt,jdbcType=DECIMAL},
      TRAN_AMT = #{record.tranAmt,jdbcType=DECIMAL},
      NET_AMT = #{record.netAmt,jdbcType=DECIMAL},
      FEE = #{record.fee,jdbcType=DECIMAL},
      FEE_ORDER = #{record.feeOrder,jdbcType=DECIMAL},
      FEESTL_TYPE = #{record.feestlType,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      STLACC_ID = #{record.stlaccId,jdbcType=DECIMAL},
      ACC_NO = #{record.accNo,jdbcType=VARCHAR},
      ACC_NAME = #{record.accName,jdbcType=VARCHAR},
      BANK_NAME = #{record.bankName,jdbcType=VARCHAR},
      BANK_CODE = #{record.bankCode,jdbcType=VARCHAR},
      BRANCH_NAME = #{record.branchName,jdbcType=VARCHAR},
      UNION_NO = #{record.unionNo,jdbcType=VARCHAR},
      BEIJING_FLAG = #{record.beijingFlag,jdbcType=VARCHAR},
      IS_CONSUMP_CATEGORY = #{record.isConsumpCategory,jdbcType=VARCHAR},
      AMT_CONSUMP_CATEGORY = #{record.amtConsumpCategory,jdbcType=VARCHAR},
      GROUP_FLAG = #{record.groupFlag,jdbcType=VARCHAR},
      FINAL_STL_ID = #{record.finalStlId,jdbcType=VARCHAR},
      FINAL_STL_FLAG = #{record.finalStlFlag,jdbcType=VARCHAR},
      COMMENTS = #{record.comments,jdbcType=VARCHAR},
      PROVINCE_CODE = #{record.provinceCode,jdbcType=DECIMAL},
      PROVINCE_NAME = #{record.provinceName,jdbcType=VARCHAR},
      BJ_FLAG = #{record.bjFlag,jdbcType=VARCHAR},
      CARD_TYPE = #{record.cardType,jdbcType=VARCHAR},
      CARD_TYPE_NAME = #{record.cardTypeName,jdbcType=VARCHAR},
      EXELUSIVE_CARD_FLAG = #{record.exelusiveCardFlag,jdbcType=VARCHAR},
      STL_NEED_FLAG = #{record.stlNeedFlag,jdbcType=VARCHAR},
      CITY_CODE = #{record.cityCode,jdbcType=DECIMAL},
      CITY_NAME = #{record.cityName,jdbcType=VARCHAR},
      MRCH_SNIPPET = #{record.mrchSnippet,jdbcType=VARCHAR},
      MERGE_MONEY_FLAG = #{record.mergeMoneyFlag,jdbcType=CHAR},
      RESERVED_FIELD = #{record.reservedField,jdbcType=VARCHAR},
      RESERVED_FIELD_1 = #{record.reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD_2 = #{record.reservedField2,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yufu.fs.entity.TClearMerstlBook" >
    update T_CLEAR_MERSTL_BOOK
    <set >
      <if test="genDt != null" >
        GEN_DT = #{genDt,jdbcType=VARCHAR},
      </if>
      <if test="merNo != null" >
        MER_NO = #{merNo,jdbcType=VARCHAR},
      </if>
      <if test="merName != null" >
        MER_NAME = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="fmrchNo != null" >
        FMRCH_NO = #{fmrchNo,jdbcType=VARCHAR},
      </if>
      <if test="fmrName != null" >
        FMR_NAME = #{fmrName,jdbcType=VARCHAR},
      </if>
      <if test="stlDate != null" >
        STL_DATE = #{stlDate,jdbcType=VARCHAR},
      </if>
      <if test="startStlDate != null" >
        START_STL_DATE = #{startStlDate,jdbcType=VARCHAR},
      </if>
      <if test="endStlDate != null" >
        END_STL_DATE = #{endStlDate,jdbcType=VARCHAR},
      </if>
      <if test="scene != null" >
        SCENE = #{scene,jdbcType=VARCHAR},
      </if>
      <if test="consumNum != null" >
        CONSUM_NUM = #{consumNum,jdbcType=DECIMAL},
      </if>
      <if test="consumAmt != null" >
        CONSUM_AMT = #{consumAmt,jdbcType=DECIMAL},
      </if>
      <if test="tranAmt != null" >
        TRAN_AMT = #{tranAmt,jdbcType=DECIMAL},
      </if>
      <if test="netAmt != null" >
        NET_AMT = #{netAmt,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        FEE = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="feeOrder != null" >
        FEE_ORDER = #{feeOrder,jdbcType=DECIMAL},
      </if>
      <if test="feestlType != null" >
        FEESTL_TYPE = #{feestlType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="stlaccId != null" >
        STLACC_ID = #{stlaccId,jdbcType=DECIMAL},
      </if>
      <if test="accNo != null" >
        ACC_NO = #{accNo,jdbcType=VARCHAR},
      </if>
      <if test="accName != null" >
        ACC_NAME = #{accName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="unionNo != null" >
        UNION_NO = #{unionNo,jdbcType=VARCHAR},
      </if>
      <if test="beijingFlag != null" >
        BEIJING_FLAG = #{beijingFlag,jdbcType=VARCHAR},
      </if>
      <if test="isConsumpCategory != null" >
        IS_CONSUMP_CATEGORY = #{isConsumpCategory,jdbcType=VARCHAR},
      </if>
      <if test="amtConsumpCategory != null" >
        AMT_CONSUMP_CATEGORY = #{amtConsumpCategory,jdbcType=VARCHAR},
      </if>
      <if test="groupFlag != null" >
        GROUP_FLAG = #{groupFlag,jdbcType=VARCHAR},
      </if>
      <if test="finalStlId != null" >
        FINAL_STL_ID = #{finalStlId,jdbcType=VARCHAR},
      </if>
      <if test="finalStlFlag != null" >
        FINAL_STL_FLAG = #{finalStlFlag,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        COMMENTS = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=DECIMAL},
      </if>
      <if test="provinceName != null" >
        PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="bjFlag != null" >
        BJ_FLAG = #{bjFlag,jdbcType=VARCHAR},
      </if>
      <if test="cardType != null" >
        CARD_TYPE = #{cardType,jdbcType=VARCHAR},
      </if>
      <if test="cardTypeName != null" >
        CARD_TYPE_NAME = #{cardTypeName,jdbcType=VARCHAR},
      </if>
      <if test="exelusiveCardFlag != null" >
        EXELUSIVE_CARD_FLAG = #{exelusiveCardFlag,jdbcType=VARCHAR},
      </if>
      <if test="stlNeedFlag != null" >
        STL_NEED_FLAG = #{stlNeedFlag,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=DECIMAL},
      </if>
      <if test="cityName != null" >
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="mrchSnippet != null" >
        MRCH_SNIPPET = #{mrchSnippet,jdbcType=VARCHAR},
      </if>
      <if test="mergeMoneyFlag != null" >
        MERGE_MONEY_FLAG = #{mergeMoneyFlag,jdbcType=CHAR},
      </if>
      <if test="reservedField != null" >
        RESERVED_FIELD = #{reservedField,jdbcType=VARCHAR},
      </if>
      <if test="reservedField1 != null" >
        RESERVED_FIELD_1 = #{reservedField1,jdbcType=VARCHAR},
      </if>
      <if test="reservedField2 != null" >
        RESERVED_FIELD_2 = #{reservedField2,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yufu.fs.entity.TClearMerstlBook" >
    update T_CLEAR_MERSTL_BOOK
    set GEN_DT = #{genDt,jdbcType=VARCHAR},
      MER_NO = #{merNo,jdbcType=VARCHAR},
      MER_NAME = #{merName,jdbcType=VARCHAR},
      FMRCH_NO = #{fmrchNo,jdbcType=VARCHAR},
      FMR_NAME = #{fmrName,jdbcType=VARCHAR},
      STL_DATE = #{stlDate,jdbcType=VARCHAR},
      START_STL_DATE = #{startStlDate,jdbcType=VARCHAR},
      END_STL_DATE = #{endStlDate,jdbcType=VARCHAR},
      SCENE = #{scene,jdbcType=VARCHAR},
      CONSUM_NUM = #{consumNum,jdbcType=DECIMAL},
      CONSUM_AMT = #{consumAmt,jdbcType=DECIMAL},
      TRAN_AMT = #{tranAmt,jdbcType=DECIMAL},
      NET_AMT = #{netAmt,jdbcType=DECIMAL},
      FEE = #{fee,jdbcType=DECIMAL},
      FEE_ORDER = #{feeOrder,jdbcType=DECIMAL},
      FEESTL_TYPE = #{feestlType,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      STLACC_ID = #{stlaccId,jdbcType=DECIMAL},
      ACC_NO = #{accNo,jdbcType=VARCHAR},
      ACC_NAME = #{accName,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      UNION_NO = #{unionNo,jdbcType=VARCHAR},
      BEIJING_FLAG = #{beijingFlag,jdbcType=VARCHAR},
      IS_CONSUMP_CATEGORY = #{isConsumpCategory,jdbcType=VARCHAR},
      AMT_CONSUMP_CATEGORY = #{amtConsumpCategory,jdbcType=VARCHAR},
      GROUP_FLAG = #{groupFlag,jdbcType=VARCHAR},
      FINAL_STL_ID = #{finalStlId,jdbcType=VARCHAR},
      FINAL_STL_FLAG = #{finalStlFlag,jdbcType=VARCHAR},
      COMMENTS = #{comments,jdbcType=VARCHAR},
      PROVINCE_CODE = #{provinceCode,jdbcType=DECIMAL},
      PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR},
      BJ_FLAG = #{bjFlag,jdbcType=VARCHAR},
      CARD_TYPE = #{cardType,jdbcType=VARCHAR},
      CARD_TYPE_NAME = #{cardTypeName,jdbcType=VARCHAR},
      EXELUSIVE_CARD_FLAG = #{exelusiveCardFlag,jdbcType=VARCHAR},
      STL_NEED_FLAG = #{stlNeedFlag,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=DECIMAL},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      MRCH_SNIPPET = #{mrchSnippet,jdbcType=VARCHAR},
      MERGE_MONEY_FLAG = #{mergeMoneyFlag,jdbcType=CHAR},
      RESERVED_FIELD = #{reservedField,jdbcType=VARCHAR},
      RESERVED_FIELD_1 = #{reservedField1,jdbcType=VARCHAR},
      RESERVED_FIELD_2 = #{reservedField2,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>