<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.jansh.dao.mapper.WxbPlatformUserMapper">
	
	<!-- 根据requrl查询公众号信息 -->
	<select id="selectPlatformByRequrl" parameterType="String" resultType="WxbPlatformUser">
		SELECT 
			APPID,
		    WXNAME,
		    APPID,
		    SECRET,
		    TOKEN,
		    REQURl,
		    SIGNATURE,
		    COUNTRY,
		    PROVINCE,
		    CITY,
		    VERIFYINFO,
		    UPDATETIME,
		    CREATETIME
		FROM 
			WXBPLATFORMUSER
		WHERE 
			REQURL = #{requrl}
	</select>
</mapper>