<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.jansh.dao.mapper.WxdResMessageMapper">
  	  <select id="getResContent" parameterType="WxdResMessage"  resultType="WxdResMessage" >
				SELECT 
					MSGTYPE,MSGID					
				FROM 
					WXDRESMESSAGE 
				WHERE 
					RESTYPE=#{resType}
				AND 
					RESMSGKEY=#{resMsgKey}
				AND
					APPID=#{appid}
		</select>
		<select id="selectByResType" parameterType="WxDresMessage"  resultType="WxDresMessage" >
				SELECT 
					*	
				FROM 
					WXDRESMESSAGE 
				WHERE 
					RESTYPE=#{resType} 
				AND
					APPID=#{appid}
		</select>
</mapper>