<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yufu.fs.dao.CombineDateMapper" >
  
  <resultMap id="BaseResultMap" type="cn.yufu.fs.entity.CombineDate" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="DONE_FLAG" property="doneFlag" jdbcType="CHAR" />
    <result column="DONE_DATE" property="doneDate" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" />
    <result column="REMARKS" property="remarks" jdbcType="OTHER" />
    <result column="DEL_FLAG" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    ID, START_DATE, END_DATE, DONE_FLAG, DONE_DATE, CREATE_BY, CREATE_DATE, UPDATE_BY, 
    UPDATE_DATE, REMARKS, DEL_FLAG
  </sql>
  
  <select id="selectByExample" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM T_COMBINE_DATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null" >
      ORDER BY ${example.orderByClause}
    </if>
  </select>
  
  <select id="countByExample" resultType="java.lang.Integer" >
    SELECT count(*) from T_COMBINE_DATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <select id="selectPageByExample" parameterType="map" resultMap="BaseResultMap">
		SELECT * FROM (
		SELECT c.*, ROWNUM rn FROM(
		select
		<if test="example.distinct">
			example.distinct
		</if>
		<include refid="Base_Column_List" />
		FROM T_COMBINE_DATE 
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="example.orderByClause != null">
			ORDER BY ${example.orderByClause}
		</if>)
		c
		WHERE <![CDATA[ ROWNUM <= ${endResult} ]]>)
		WHERE rn &gt; ${startResult}
  </select> 
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    SELECT 
    <include refid="Base_Column_List" />
    FROM T_COMBINE_DATE
    WHERE ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    <!-- DELETE FROM  T_COMBINE_DATE  WHERE ID = #{id,jdbcType=VARCHAR} -->
    UPDATE T_COMBINE_DATE SET DEL_FLAG = '1' WHERE ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="cn.yufu.fs.entity.CombineDate" >
    insert into T_COMBINE_DATE (ID, START_DATE, END_DATE, DONE_FLAG, DONE_DATE, 
    	CREATE_BY, CREATE_DATE, UPDATE_BY, UPDATE_DATE, REMARKS, DEL_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, 
      #{doneFlag,jdbcType=CHAR}, #{doneDate}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate}, #{updateBy,jdbcType=VARCHAR}, #{updateDate}, 
      #{remarks,jdbcType=OTHER}, #{delFlag,jdbcType=CHAR})
  </insert>
  
  <insert id="insertSelective">
    insert into T_COMBINE_DATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="startDate != null" >
        START_DATE,
      </if>
      <if test="endDate != null" >
        END_DATE,
      </if>
      <if test="doneFlag != null" >
        DONE_FLAG,
      </if>
      <if test="doneDate != null" >
        DONE_DATE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="delFlag != null" >
        DEL_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="doneFlag != null" >
        #{doneFlag,jdbcType=CHAR},
      </if>
      <if test="doneDate != null" >
        #{doneDate},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=OTHER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective">
    update T_COMBINE_DATE
    <set >
      <if test="startDate != null" >
        START_DATE = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="doneFlag != null" >
        DONE_FLAG = #{doneFlag,jdbcType=CHAR},
      </if>
      <if test="doneDate != null" >
        DONE_DATE = #{doneDate},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=OTHER},
      </if>
      <if test="delFlag != null" >
        DEL_FLAG = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="cn.yufu.fs.entity.CombineDate" >
    UPDATE T_COMBINE_DATE
    SET START_DATE = #{startDate,jdbcType=VARCHAR},
      END_DATE = #{endDate,jdbcType=VARCHAR},
      DONE_FLAG = #{doneFlag,jdbcType=CHAR},
      DONE_DATE = #{doneDate},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate},
      REMARKS = #{remarks,jdbcType=OTHER},
      DEL_FLAG = #{delFlag,jdbcType=CHAR}
    WHERE ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectMaxEndDate" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" /> FROM T_COMBINE_DATE 
    WHERE END_DATE = (SELECT MAX(END_DATE) FROM T_COMBINE_DATE ) AND DEL_FLAG = '0'
  </select>
  
</mapper>